<div fxLayout="column" fxLayoutAlign="none" class="first">
  <h2>Book Your Tour</h2>
  <div fxLayout="row" fxLayoutAlign="center center" class="sec">
    <div fxLayout="column" fxLayoutAlign="none" class="third">
      <mat-card fxLayout="column" class="car">
        <div fxLayout="row" fxLayoutAlign="center center" class="four">
         <input fxFlex="50" type="text" placeholder="Name">
         <input fxFlex="50" type="email" placeholder="Email">
        </div> 
        <div fxLayout="row" fxLayoutAlign="center center" class="four">
          <input fxFlex="50" type="text" placeholder="Phone">
          <input fxFlex="50" type="text" placeholder="Date">
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" class="four">
              <select fxFlex="50">
                  <option value="adults">Adults</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5 or more</option>
                </select>
                <select fxFlex="50">
                    <option value="kids">Kids</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 or more</option>
                  </select>
            </div>
          <textarea type="text" placeholder="Message" class="mes"></textarea>
          <input type="submit" value="Send" style="color: white;background-color:#047ffc">
              
      </mat-card>
    </div>
    <div fxLayout="column" fxLayoutAlign="none" class="five">
     <img src="../../../assets/banner1.jpg" width="412px" height="206px">
     <h4>Tour Description</h4>
     <p>Duis nisi sapien, elementum finibus ferme ntum ed<br>eget, aliquet et leo. Mauris hendrerit vel ex. vitae<br>luctus massa. Phas ellus sed aliquam leo et dolor.<br>Vestibulum ullamcorper massa eut sed fringilla.</p>
      </div>

  </div>
</div>