<div fxLayout="column" fxLayoutAlign="none" style="padding-bottom:3rem" >
  <div fxLayout="row wrap" fxLayoutAlign="space-between center"  style="margin: 5%">
      <div fxFlex="50" fxFlex.md="40" fxFlex.sm="100" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="space-around start" class="explo">
        <h3>We Will Take You To The Top Destination In The World, <b>Explore With Us!</b></h3>
        <p>Duis nisi sapien, elementum finibus fermentum eget, aliquet leo et.Mauris hendrerit vel ex. Quisque vitae luctus massa. Phasellus sed aliquam leo. Vestibulum ullamcorper a massa eu fringilla. Integer ultrices finibus sed nisi. in convallis felis dapibus sit amet.</p>
        <br>
        <p>Donec a arcu et sapien hendrerit accumsan. Pellentesque sit amet eros iac, elementum urna ipsum accumsan, iaculis ligula. Aenean quam eget maximus in convallis felis dapibus sit amet.</p>
      </div>
      <img fxFlex="40" fxFlex.md="40" fxFlex.sm="100" fxFlex.xs="100" style="margin:auto" src="../../../assets/about.jpg" alt="triple tower"
      max-width="100%" width="90%" height="auto">
      <div fxFlex="5"></div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="space-around center" >
    <div fxFlex="25" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column" fxLayoutAlign="space-between center" class="timer" >
        <i class='far fa-smile' style='font-size:30px;color:#047FFC'></i>
        <p class="num">1000+</p>
        <p class="quo">HAPPY CUSTOMERS</p>
    </div>
    <div fxFlex="25" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column" fxLayoutAlign="space-between center"  class="timer">
        <i class='fa fa-ship' style='font-size:30px;color:#047FFC'></i>
        <p class="num">2271</p>
        <p class="quo">TOURS AND TRAVELS</p>
      
      </div>
      <div fxFlex="25" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column" fxLayoutAlign="space-between center"  class="timer">
          <i class='fa fa-users' style='font-size:30px;color:#047FFC'></i>
          <p class="num">200</p>
          <p class="quo">DESTINATIONS</p>
      
        </div>
        <div fxFlex="25" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="50" fxLayout="column" fxLayoutAlign="space-between center"  class="timer">
            <i class='fa fa-gift' style='font-size:30px;color:#047FFC'></i>
            <p class="num">20+<span>years</span></p>
            <p class="quo">EXPERIENCE</p>
      
          </div>
   
  </div>

</div>