<div fxLayout="row" fxLayoutAlign="space-around stretch" class="foo">
  <div fxLayout="column" >
    <h3>Address</h3>
    <p>Location : 1234 lock, Charlotte,<br>
    North Carolina, United States</p>

    <p> Phone : +12 534894364<br>
        
        Email : info@example.com<br>
        
        Fax : +12 534894364</p>

  </div>
  <div fxLayout="column" >
    <h3>About Us</h3>
    <p>Vivamus magna justo, laci niats<br>eget consectetur sed, conval lis<br>at tellus. Nulla quis lorem ipnt<br>libero. Lorem ipsum dolor.</p>
    <div fxLayout="row" fxLayoutAlign="start start" class="ico">
        <i class="fa fa-facebook" style="background:#3b5998 "></i>
        <i class="fa fa-twitter" style="background: #1da1f2;"></i>
        <i class="fa fa-google-plus" style="background: #dd4b39;"></i>
        <i class="fa fa-linkedin" style="background: #0077b5;"></i>
      </div>
    </div>
    <div fxLayout="column" >
      <h3>Travel Places</h3>
      <div fxLayout="row" fxLayoutAlign="space-around stretch">
        <div fxLayout="column" style="margin-right: 10px">
          <p>New Zealand<br>
              Paris, France<br>
              Los Angles<br>
              Darlington<br>
              Canada<br>
              South Africa</p>
        </div>
        <div fxLayout="column">
<p>Spain<br>
    Turkey<br>
    Europe<br>
    Italy<br>
    Sweden</p>
        </div>
      </div>
    
      </div>
      <div fxLayout="column" >
        <h3>Newsletter</h3>
        <p>By subscribing to our mailing list<br>you will always get latest news<br>and updates from us.</p>
       <input type="email" placeholder="Enter Your Email...">
       
        </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="end">
<p>© 2019 Grand Tour. All Rights Reserved | Design by <span style="color:#aaa"> W3layouts</span> </p>
</div>