<div fxLayout="column" fxLayoutAlign="none" class="ser">
  <h2>Our Services</h2>
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" class="even">
    <div fxLayout="column" fxFlex.md="30" fxFlex.sm="80" fxFlex.xs="80" fxLayoutAlign="space-around stretch" class="blu">
     <p>The Journey Of A<br>Thousand Miles<br>Begins With A<br>Single Step.</p>
    </div>
    <div fxLayout="column" fxFlex.md="30" fxFlex.sm="40" fxFlex.xs="80" fxLayoutAlign="space-around stretch" class="nor">
      <i class="fa fa-building"></i>
      <h4>Accomodation</h4>
      <p>Duis nisi sapien, elementum et<br>finibus et fermen eget, aliquet<br>etleo. Mauris vel ex.</p>
    </div>
    <div fxLayout="column" fxFlex.md="30" fxFlex.sm="40" fxFlex.xs="80" fxLayoutAlign="space-around stretch" class="nor">
        <i class="fa fa-free-code-camp"></i>
        <h4>Winter Tours</h4>
        <p>Duis nisi sapien, elementum et<br>finibus et fermen eget, aliquet<br>etleo. Mauris vel ex.</p> 
    </div>
    <div fxLayout="column" fxFlex.md="30" fxFlex.sm="40" fxFlex.xs="80" fxLayoutAlign="space-around stretch" class="nor">
        <i class="fa fa-users"></i>
        <h4>Exp Agents</h4>
        <p>Duis nisi sapien, elementum et<br>finibus et fermen eget, aliquet<br>etleo. Mauris vel ex.</p>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" class="odd">
      <div fxLayout="column" fxFlex.md="30" fxFlex.sm="80" fxFlex.xs="80" fxLayoutAlign="space-around stretch" class="paa">
      <img src="../../../assets/p1.jpg">
      </div>
         <div fxLayout="column" fxFlex.md="30" fxFlex.sm="40" fxFlex.xs="80" fxLayoutAlign="space-around stretch" class="nor">
           <i class="fa fa-money"></i>
           <h4>Low Prices</h4>
           <p>Duis nisi sapien, elementum et<br>finibus et fermen eget, aliquet<br>etleo. Mauris vel ex.</p>
         </div>
         <div fxLayout="column" fxFlex.md="30" fxFlex.sm="40" fxFlex.xs="80" fxLayoutAlign="space-around stretch" class="nor">
             <i class="fa fa-binoculars"></i>
             <h4>Easy Booking</h4>
             <p>Duis nisi sapien, elementum et<br>finibus et fermen eget, aliquet<br>etleo. Mauris vel ex.</p> 
         </div>
         <div fxLayout="column" fxFlex.md="30" fxFlex.sm="40" fxFlex.xs="80" fxLayoutAlign="space-around stretch" class="nor">
             <i class="fa fa-camera"></i>
             <h4>Best Packages</h4>
             <p>Duis nisi sapien, elementum et<br>finibus et fermen eget, aliquet<br>etleo. Mauris vel ex.</p>
         </div>
  </div>
</div>