<div fxLayout="column" fxLayoutAlign="none" class="pla"> 
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <h3>How To Plan Your Trip</h3>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="sig">
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <i
        class="fa fa-map-signs"
        ></i>
        <h4>PICK DESTINATION</h4>
        <p>Vestibulum urna ligula, molestie at ante<br>ut, finibus. Integer ultrices finibus sed<br>nisi in convallis sed dolor.</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <i
        class="fas fa-calendar-alt"></i>
        <h4>SELECT THE DATE</h4>
        <p>Vestibulum urna ligula, molestie at ante<br>ut, finibus. Integer ultrices finibus sed<br>nisi in convallis sed dolor.</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-around center">
          <i
        class="fa fa-gift"></i>
        <h4>ENJOY THE TRIP</h4>
        <p>Vestibulum urna ligula, molestie at ante<br>ut, finibus. Integer ultrices finibus sed<br>nisi in convallis sed dolor.</p>
        </div>
  </div>

</div>