.pla{
    background-color: #047FFC;
    color:white;
    padding: 48px 0;
}
.sig{
    text-align: center;
}
.sig i{
    box-sizing: border-box;
    background: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: 0em auto 0em;
    border-radius: 50%;
    text-align: center !important;
    color:#047FFC;
    font-size: 26px;
}
.sig h4{
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 21px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin-bottom: 0;
}
.sig p{
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: 1px;
    color: #ddd;
    
}
h3{
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    font-size: 43px;
    margin: 43px 0;
}