<div fxLayout="column" fxLayoutAlign="none" class="choo">
  <h2>Why Choose Us</h2>
  <div class="btn">
      <a mat-button style="background-color:#047FFC" >We Offer</a>
      <a mat-button style="background-color: white;color:black">We Provide</a>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
    <div fxLayout="column" fxFlex.md="40" fxflex.sm="40" fxFlex.xs="80"  fxLayoutAlign="space-around center" class="winte">
    <i class="fa fa-gift"></i>
    <h3>Winter Tours</h3>
    <p>Lorem ipsum dolor sit amet, conse<br>ctetur elit. Cras lobortis mollis arcu,<br>vel vulputate justo.</p>
    </div>
    <div fxLayout="column" fxFlex.md="40" fxflex.sm="40" fxFlex.xs="80" fxLayoutAlign="space-around center" class="winte">
        <i class="fa fa-gift"></i>
        <h3>Accomodation</h3>
        <p>Lorem ipsum dolor sit amet, conse<br>ctetur elit. Cras lobortis mollis arcu,<br>vel vulputate justo.</p>
      </div>
      <div fxLayout="column" fxFlex.md="40" fxflex.sm="40" fxFlex.xs="80" fxLayoutAlign="space-around center" class="winte">
          <i class="fa fa-gift"></i>
          <h3>Low Prices</h3>
          <p>Lorem ipsum dolor sit amet, conse<br>ctetur elit. Cras lobortis mollis arcu,<br>vel vulputate justo.</p>
        </div>
    </div>
</div>