<div fxLayout="column" fxLayoutAlign="none" class="tour">
  <h2>Tourism Places</h2>
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="sec">
    <!-- <div fxLayout="column" fxLayoutAlign="none" class="thir"> -->
      <!-- <div fxLayout="row" fxLayoutAlign="space-around start" class="four"> -->
        <div fxLayout="column" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="80" fxLayoutAlign="none" class="five">
          <img src="../../../assets/japan.jpg">
        </div>
        <div fxLayout="column" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="80" fxLayoutAlign="start" class="six">
          <h4>Japan</h4>
          <div fxLayout="row"  class="star">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <p>Sed ut perspiciatis unde omnis istes<br>natus error sit volup tatem accusani<br>tium doloremque laudantium.</p>
          <h3><i class="far fa-clock"></i> Duration:<span >2 days,3hrs</span></h3>            
        </div>
        <!-- <div fxLayout="column" fxLayoutAlign="none" class="thir"> -->
          <!-- <div fxLayout="row" fxLayoutAlign="space-around start" class="four"> -->
            <div fxLayout="column" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="80" fxLayoutAlign="none" class="five">
           <img src="../../../assets/singapore.jpg">
            </div>
            <div fxLayout="column" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="80" fxLayoutAlign="start" class="six">
             <h4>singapore</h4>
             <div fxLayout="row"  class="star">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <p>Sed ut perspiciatis unde omnis istes<br>natus error sit volup tatem accusani<br>tium doloremque laudantium.</p>
              <h3><i class="far fa-clock"></i> Duration:<span >2 days,3hrs</span></h3>                
            </div>
          </div>
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="sec">
      <!-- <div fxLayout="column" fxLayoutAlign="none" class="thir"> -->
        <!-- <div fxLayout="row" fxLayoutAlign="space-around start" class="four"> -->
          <div fxLayout="column" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="80" fxLayoutAlign="none" class="five">
           <img src="../../../assets/malaysia.jpg">
          </div>
          <div fxLayout="column" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="80" fxLayoutAlign="start" class="six">
           <h4>Malaysia</h4>
           <div fxLayout="row"  class="star">
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <p>Sed ut perspiciatis unde omnis istes<br>natus error sit volup tatem accusani<br>tium doloremque laudantium.</p>
            <h3><i class="far fa-clock"></i> Duration:<span >2 days,3hrs</span></h3>      
          </div>
          <!-- <div fxLayout="column" fxLayoutAlign="none" class="thir"> -->
            <!-- <div fxLayout="row" fxLayoutAlign="space-around start" class="four"> -->
              <div fxLayout="column" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="80" fxLayoutAlign="none" class="five">
               <img src="../../../assets/china.jpg">
              </div>
              <div fxLayout="column" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="80" fxLayoutAlign="start" class="six">
                <h4>China</h4>
                <div fxLayout="row"  class="star">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <p>Sed ut perspiciatis unde omnis istes<br>natus error sit volup tatem accusani<br>tium doloremque laudantium.</p>
                  <h3><i class="far fa-clock"></i> Duration:<span >2 days,3hrs</span></h3>
                
              </div>
            </div>
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
</div>
