.head{
    color:#ddd;
    font-size: 15px;
    font-weight: 400px;
}
.nav{

    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    line-height: 1.5;
   
}
.banner{
    background-image: url('../../../assets/banner1.jpg');
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2;
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 750px;
}
.never{
    margin:10% 0 0 8%;
}
.never .great{
    font-size: 3.3em;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 68px;
}
.never p{
    margin: 1em 0 1.5em;
    letter-spacing: 4px;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 1.5em;
}
.btn a{
    margin:5px;
    border:2px solid white;
    border-radius: 0px;
    padding: 6px 30px;
    font-size: 15px;
    letter-spacing: 2px;
}
.now{
    background-color: #047FFC;
    color:white;
    padding: 2px 20px;
    letter-spacing: 1px;
    font-size: 15px;
    border-radius: 0px;
    display: inline-block;
}
