<div class="banner">
  <mat-toolbar
    fxLayout="row"
    fxLayoutAlign="space-around center"
    class="nav"
    style="font-family: 'Open Sans', sans-serif;"
  >
    <a
      fxFlex="40"
      routerLink="/"
      style="color:#ffff;font-size:28px;text-decoration: none;margin-left:5%"
      ><i
        class="fa fa-map-signs"
        aria-hidden="true"
        style="color:white;font-size: 30px;padding-right: 10px"
      ></i
      >Grand Tour</a
    >

    <a class="head" routerLink="/"><button mat-button>Home</button></a>
    <a class="head" routerLink="/about-us"
      ><button mat-button>About us</button></a
    >
    <a class="head" routerLink="/services"
      ><button mat-button>Services</button></a
    >
    <a class="head" routerLink="/package"
      ><button mat-button>Packages</button></a
    >
    <a class="head" routerLink="/contact"
      ><button mat-button>Contact</button></a
    >
    <button mat-button routerLink="/book-now" class="now">
      BOOK NOW
    </button>
  </mat-toolbar>
  <div
    fxLayout="column"
    fxLayoutAlign="start start"
    class="never"
    style="color:white"
  >
    <div>
      <h3 class="great">Never Let Your Memories Be<br />Greater Than Your Dreams.</h3>
    
    <p>Tristique Senectus Et Netus Et Malesuada</p></div>
    <div class="btn">
      <a mat-stroked-button routerLink="/about-us">About Us</a>
      <a mat-stroked-button routerLink="/book-now">Book A Tour</a>
    </div>
  </div>
</div>
