<div class="banner">
<mat-toolbar fxLayout="row" fxLayoutAlign="space-around center" class="nav" style="font-family: 'Open Sans', sans-serif;">
    <a fxFlex="40" fxFlexOffset="5" routerLink="/" style="color:#ffff;font-size:28px;text-decoration: none"><i class="fa fa-map-signs" aria-hidden="true" style="color:white;font-size: 30px;padding-right: 10px"></i>Grand Tour</a>

  <a class="head" routerLink="/"><button mat-button>Home</button></a>
  <a class="head" routerLink="/about-us"><button mat-button>About us</button></a>
  <a class="head" routerLink="/services"><button mat-button>Services</button></a>
  <a class="head" routerLink="/package"><button mat-button>Packages</button></a>
  <a class="head" routerLink="/contact"><button mat-button>Contact</button></a>
  <button mat-raised-button color="primary" routerLink="/book-now">BOOK NOW</button>
</mat-toolbar>
<hr width="100%" style="border: 0.3px solid #ddd"/>
<div fxLayout="row" fxLayoutAlign="start center" class="never">
  <p>Never Let Your Memories Be<br>Greater Than Your Dreams.</p> 
</div>
</div>