<div fxLayout="column" fxLayoutAlign="none" class="des">
  <div class="para">
  <h2>Popular Destinations</h2>
  <p>
    Vestibulum tellus neque, sodales vel mauris at, rhoncus finibus augue.
    Vestibulum urna<br />ligula, molestie at ante ut, finibus vulputate felis.
  </p>
</div>
  <div fxlayout="row" fxLayoutAlign="space-around center" class="titl">
    <p>CHINA</p>
    <p>MALAYSIA</p>
    <p>JAPAN</p>
    <p>SINGAPORE</p>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="ima">
    <div fxFlex="20" class="cont">
      <img src="../../../assets/china.jpg" class="image"/>
      <div class="ove">
        <div class="text">
          <p>China</p>
          <a mat-stroked-button routerLink="/book-now">Book Know</a>
        </div>
      </div>
    </div>
    <div fxFlex="20" class="cont">
      <img src="../../../assets/malaysia.jpg" class="image"/>
      <div class="ove">
        <div class="text">
          <p>Malaysia</p>
          <a mat-stroked-button routerLink="/book-now">Book Know</a>
        </div>
      </div>
    </div>
    <div fxFlex="20" class="cont">
      <img src="../../../assets/japan.jpg" class="image"/>
      <div class="ove">
        <div class="text">
          <p>Japan</p>
          <a mat-stroked-button routerLink="/book-now">Book Know</a>
        </div>
      </div>
    </div>
    <div fxFlex="20" class="cont">
      <img src="../../../assets/singapore.jpg" class="image"/>
      <div class="ove">
        <div class="text">
          <p>Singapore</p>
          <a mat-stroked-button routerLink="/book-now">Book Know</a>
        </div>
      </div>
    </div>
  </div>
</div>
