<div fxLayout="column" fxLayoutAlign="none" class="des">
  <div class="para">
  <h2>Popular Destinations</h2>
  <p>
    Vestibulum tellus neque, sodales vel mauris at, rhoncus finibus augue.
    Vestibulum urna<br />ligula, molestie at ante ut, finibus vulputate felis.
  </p>
</div>
  <div fxLayout="row wrap" fxLayoutAlign="space-around center" class="ima">
    <div fxFlex="20" fxFlex.md="30" fxFlex.sm="40" fxFlex.xs="80" class="cont">
      <div style="text-align: center" class="titl"><p>CHINA</p></div>
      <img src="../../../assets/china.jpg" class="image"/>
      <div class="ove">
        <div class="text">
          <p>China</p>
          <a mat-stroked-button routerLink="/book-now">Book Know</a>
        </div>
      </div>
    </div>
    <div fxFlex="20" fxFlex.md="30" fxFlex.sm="40" fxFlex.xs="80" class="cont">
        <div style="text-align: center" class="titl"><p>MALAYSIA</p></div>
      <img src="../../../assets/malaysia.jpg" class="image"/>
      <div class="ove">
        <div class="text">
          <p>Malaysia</p>
          <a mat-stroked-button routerLink="/book-now">Book Know</a>
        </div>
      </div>
    </div>
    <div fxFlex="20" fxFlex.md="30" fxFlex.sm="40" fxFlex.xs="80" class="cont">
        <div style="text-align: center" class="titl"><p>JAPAN</p></div>
      <img src="../../../assets/japan.jpg" class="image"/>
      <div class="ove">
        <div class="text">
          <p>Japan</p>
          <a mat-stroked-button routerLink="/book-now">Book Know</a>
        </div>
      </div>
    </div>
    <div fxFlex="20" fxFlex.md="30" fxFlex.sm="40" fxFlex.xs="80" class="cont">
        <div style="text-align: center" class="titl"><p>SINGAPORE</p></div>
      <img src="../../../assets/singapore.jpg" class="image"/>
      <div class="ove">
        <div class="text">
          <p>Singapore</p>
          <a mat-stroked-button routerLink="/book-now">Book Know</a>
        </div>
      </div>
    </div>
  </div>
</div>
