<div fxLayout="column" fxLayoutAlign="none" class="first">
   <h2>Get In Touch With Us</h2>
  <div fxLayout="row" fxLayoutAlign="space-around stretch" class="sec">
    <div fxLayout="column" fxLayoutAlign="none" class="third">
      <i class="fa fa-map-marker"></i>
      <h4>Location</h4>
      <p>The company name<br>Addison Township, IL, USA.</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="none" class="third">
      <i class="fa fa-envelope-open-o"></i>
      <h4>Phone & Email</h4>
      <p>+(122) 123 456 7890<br>info@examplemail.com</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="none" class="third">
      <i class="fa fa-comments-o"></i>
      <h4>Stay In Touch</h4>
      <div fxLayout="row" fxLayoutAlign="start start" class="icon">
          <i class="fa fa-facebook" style="background:#3b5998;"></i>
          <i class="fa fa-twitter" style="background: #1da1f2;"></i>
          <i class="fa fa-google-plus" style="background: #dd4b39;"></i>
          <i class="fa fa-linkedin" style="background: #0077b5;"></i>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="four">
    <div fxLayout="column" fxLayoutAlign="space-around stretch" class="five">
     <mat-card fxLayout="column" class="nam">
       <input type="text" placeholder="Name">
       <input type="email" placeholder="Email">
       <input type="number" placeholder="Phone">
       <textarea type="text" placeholder="Message"></textarea>
       <input type="submit" value="Send" style="color: white;background-color: #047ffc">
     </mat-card>
    </div>
    <div fxLayout="column" fxLayoutAlign="none" class="five">
      <h3>Do You Have Any Questions<br>About Us? Write To Us.</h3>
      <p>Duis nisi sapien, elementum finibus fermentum eget, aliquet et<br>leo. Mauris hendrerit vel ex. Quisque vitae luctus massa. Phas<br>ellus sed aliquam leo. Vestibulum ullamcorper massa eut sed<br>fringilla. Integer ultrices finibus sed nisi. in convallis felis da bus<br>sit amet aliquet et leo dolor sit amet aliquet.</p>
       <h4>Office Hours</h4>
       <p>Monday to Friday : 09 am to 06 pm<br>Saturday and Sunay : 10 am to 04 pm</p>
    </div>

  </div>
</div>