<div fxLayout="column" class="cust">
  <h3>What Our Customers Say</h3>
  <div fxLayout="row wrap" fxLayoutAlign="space-around center" class="fee">
    <div fxLayout="column" fxFlex.md="40" fxflex.sm="40" fxFlex.xs="80"  fxLayoutAlign="space-around stretch">
     <p>"Sed ut perspiciatis unde omnis ist natus<br>error sit volup tatem acu antium dolor tium<br>sed e ullam dolor amet.
      </p>
      <div><img src="../../../assets/te1.jpg"></div>
      <h4>ELISA KER</h4>
    </div>
    <div fxLayout="column" fxFlex.md="40" fxflex.sm="40" fxFlex.xs="80"  fxLayoutAlign="space-around stretch">
        <p>"Sed ut perspiciatis unde omnis ist natus<br>error sit volup tatem acu antium dolor tium<br>sed e ullam dolor amet.
        </p>
        <div><img src="../../../assets/te2.jpg"></div>
        <h4>JOHNSON</h4>
      </div>
      <div fxLayout="column" fxFlex.md="40" fxflex.sm="40" fxFlex.xs="80"  fxLayoutAlign="space-around stretch">
          <p>"Sed ut perspiciatis unde omnis ist natus<br>error sit volup tatem acu antium dolor tium<br>sed e ullam dolor amet.
          </p>
          <div><img src="../../../assets/te3.jpg"></div>
          <h4>ELIZABETH</h4>
        </div>
  </div>
</div>