<div fxLayout="column" class="cust">
  <h3>What Our Customers Say</h3>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="fee">
    <div fxLayout="column" fxLayoutAlign="space-around stretch">
     <p>"Sed ut perspiciatis unde omnis ist natus<br>error sit volup tatem acu antium dolor tium<br>sed e ullam dolor amet.
      </p>
      <img src="../../../assets/te1.jpg">
      <h4>ELISA KER</h4>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around stretch">
        <p>"Sed ut perspiciatis unde omnis ist natus<br>error sit volup tatem acu antium dolor tium<br>sed e ullam dolor amet.
        </p>
        <img src="../../../assets/te2.jpg">
        <h4>JOHNSON</h4>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-around stretch">
          <p>"Sed ut perspiciatis unde omnis ist natus<br>error sit volup tatem acu antium dolor tium<br>sed e ullam dolor amet.
          </p>
          <img src="../../../assets/te3.jpg">
          <h4>ELIZABETH</h4>
        </div>
  </div>
</div>